<h1 class="title animated jackInTheBox">{{title}}</h1>

<ul class="animated flipInX" *ngIf="mode === 'list'">
  <p *ngIf="todos.length === 0">
    <small>Você ainda não tem tarefas, cadastre para visualizá-las.</small>
  </p>
  <li *ngFor="let todo of todos">
    {{todo.name}}
    <button *ngIf="!todo.done" (click)="doneTodo(todo)"><i class="fas fa-check-circle"></i></button>
    <button *ngIf="!todo.done" (click)="deleteTodo(todo)"><i class="far fa-trash-alt"></i></button>
  </li>
</ul>

<div id="modal" *ngIf="mode === 'add'" class="animated flipInX">
  <h1 class="text-center">Nova tarefa</h1>
  <form [formGroup]="form">
    <input type="text" placeholder="Insira um nome para sua tarefa." maxlength="60" formControlName="name">
    <small class="danger" *ngIf="form.controls.name.invalid && !form.controls.name.pristine">
      Este campo deve conter de 3 à 60 caracteres.<br>
    </small>
    <p class="text-center">
      <button class="button" [disabled]="form.invalid" (click)="addTodo()"><i class="far fa-save"></i> Salvar</button>
    </p>
  </form>
</div>

<button class="add-button animated fadeInUp button" (click)="changeMode('add')" *ngIf="mode === 'list'">
  <i class="fas fa-plus-circle"></i>
  Nova Tarefa
</button>

<button class="add-button animated fadeInUp button" (click)="changeMode('list')" *ngIf="mode === 'add'">
  <i class="fas fa-times"></i>
  Cancelar
</button>
